<footer class="footer mt-auto bg-black text-light">
    <div class="container py-4">
        <div class="row ">
            <!-- First Column -->
            <div class="col-md-4">
                <h5>
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="img-fluid" style="max-height: 40px;">
                     MyFlaskApp 

                </h5>
                <p>Important information about working hours, location, etc.</p>
                <p>Mon-Fri: 9am - 5pm</p>
                <div class="d-flex">
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <!-- Second Column -->
            <div class="col-md-4">
                <h5>Important Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">About Us</a></li>
                    <li><a href="#" class="text-light">Services</a></li>
                    <li><a href="#" class="text-light">Contact</a></li>
                </ul>
            </div>
            <!-- Third Column -->
            <div class="col-md-4">
                <h5>General Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Privacy Policy</a></li>
                    <li><a href="#" class="text-light">Terms of Service</a></li>
                    <li><a href="#" class="text-light">FAQ</a></li>
                    <li><a href="#" class="text-light">Support</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</footer>

